
.gradle
.idea
.fleet
.vscode

!.vscode/launch.json
!.vscode/tasks.json

**/__pycache__
**/*.py[cod]
**/node_modules
**/package-lock.json
**/dist

model/training_data_converted.csv
model/**.layer
model/model.h5
logs/tensorboard/*
logs/*