
.gradle
.idea
.fleet
.vscode

!.vscode/launch.json
!.vscode/tasks.json

**/__pycache__
**/*.py[cod]
**/node_modules
**/package-lock.json
**/dist

example/model/
example/model/**
logs/tensorboard/*
logs/*